Requirements
Base Class (Contact) ------- FERTIG
Sub Class (Personal) ------- FERTIG
Sub Class (Work) ----------- FERTIG
Sub Class (Emergency) ------ FERTIG
Polymorphismus ------------- NICHT-FERTIG

Contact Manager ------------ FERTIG
- add_contact -------------- FERTIG
- remove_contact ----------- FERTIG
- search_contacts ---------- FERTIG - Concat dict values (CLI funktioniert, wenn methode funktioniert)
- list_contacts ------------ FERTIG
- group_by_type ------------ FERTIG

Regular Expressions -------- FERTIG
- mail_adress -------------- FERTIG
- phone_number ------------- FERTIG
- name --------------------- FERTIG

Datetime Handling ----------
- contact_creation_time ---- FERTIG 
- parse_birthdays ---------- FERTIG
- sort_contacts_creation --- NICHT-FERTIG (Will ich einfach in list contacts integrieren)
Wenn man die Kontakte aus dem JSON lädt, nimmt created_at the loading zeit.
... Das wollen wir nicht... Wir müsssen also die creaeted_at im JSON speichern und als optionales Konstruktor-Argument geben.
- OPT filter_by_daterange -- OPTIONAL

File Handling
- store contacts in json --- FERTIG
- load_contacts ------------ FERTIG (on startup, kein Menüpunkt)
- - correct subclasses ----- FERTIG
- save_contacts ------------ FERTIG
- exception_handling ------- FERTIG

Multithreading
- Asynch Save -------------- FERTIG

Logging Functionality ------ FERTIG
- closure_based_logger ----- FERTIG
- decorator_based_logger --- FERTIG